<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
<<<<<<< HEAD
    <!-- <title><= yield(:title) %> | Ruby on Rails Tutorial Sample App</title> -->
    <!-- This was replaced ^ now using application helpers :)! -->
=======
>>>>>>> 6eebe2cf8578f7e18fcd006923c69011c9cb67a4
      <meta charset="utf-8">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag 'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application',  'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
